.gradient-loader {
  border-radius: 50%;
  border: 6px solid transparent;

  background: linear-gradient(180deg, #7a6dfc, #a77eff) border-box;

  -webkit-mask: radial-gradient(
    farthest-side,
    transparent calc(100% - 6px),
    black 0
  );
  mask: radial-gradient(
    farthest-side,
    transparent calc(100% - 6px),
    black 0
  );

  animation: rotate 1s linear infinite;
}

.loading-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fade-in-out {
  opacity: 0;
  transform: translateY(5px);
  animation: fadeIn 0.35s ease-out forwards;
}

.fade-in-out.fade-leave {
  animation: fadeOut 0.35s ease-in forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
    transform: translateY(5px);
  }
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
