.tasks-page {
  display: flex;
  flex-direction: column; 
  justify-content: flex-start;
  align-items: center;
  min-height: calc(100vh - 80px); 
  padding: 1rem;
  background: var(--bg-gradient);
}

.task-list {
  display: flex;
  flex-direction: column;
  flex: 1; 
  gap: 1rem;
  width: 100%;
  max-width: 1200px;
  background: var(--card-bg);
  padding: 1rem;
  border-radius: 16px;
  box-shadow: var(--shadow-light);
  border: 1px solid var(--divider-color);
  backdrop-filter: blur(20px);
  overflow-y:  scroll;
  max-height: 80vh; 
}

.task-list::-webkit-scrollbar {
  width: 8px;
}

.task-list::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 8px;
  margin: 6px 2px;
}

.task-list::-webkit-scrollbar-thumb {
  width: 10px;
  background: linear-gradient(180deg, #6a5cf7, #9a6cf6);
  border-radius: 8px;
}

.task-list::-webkit-scrollbar-thumb:hover {
 background: linear-gradient(180deg, #7a6dfc, #a77eff);

}



.task-list__header {
  display: flex;
  gap: 1rem;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.filters {
  display: flex;
  gap: 1rem;
  align-items: center;
  flex-wrap: wrap;
}

.task-list__content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow-y: auto;
  padding-bottom: 0.5rem;

}
.no-tasks{
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  line-height: 100%;
  background: var( --accent-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


@media (max-width:768px) {
  .task-list__header {
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
  }
  
}