.kanban-board{
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr)); 
  justify-content: center;
  gap: 1.5rem;
  padding: 2rem;
  flex: 1;
  align-content: stretch;
  height: calc(100vh - 160px); 
  align-items: stretch;
}

.fade-in-out {
  opacity: 0;
  transform: translateY(5px);
  animation: fadeIn 0.35s ease-out forwards;
}

.fade-in-out.fade-leave {
  animation: fadeOut 0.35s ease-in forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
    transform: translateY(5px);
  }
}
