
.error-page{
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.error-code{
  display: inline-block;
  background: var(--accent-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-size: 10rem;
  font-weight: 900;
  text-shadow: var(--shadow-strong);
  margin-bottom: 1rem;
  line-height: 100%;
}
.error-message{
  display: inline-block;
  font-size: 2rem;
  margin-bottom: 1rem;
  line-height: 100%;
  font-weight: 600;
}
.error-description{
  max-width: 600px;
  margin: 0 auto 2rem auto;
  font-size: 1.1rem;
  color: var(--text-secondary);
}